/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#transaction-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Ukuran kotak lebih besar */
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    justify-items: center;
}

.transaction-box {
    background-color: green;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transaction-box:hover {
    transform: scale(1.1);
    background-color: #00ff7f;
}

.transaction-box h4, .transaction-box p {
    font-size: 1em;
    color: #fff;
}

/* Media Queries untuk tampilan mobile */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    #transaction-grid {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Ukuran kotak lebih kecil */
    }

    .transaction-box {
        padding: 12px;
    }

    .transaction-box h4, .transaction-box p {
        font-size: 0.8em;
    }
}
